ID4PII_PUBLISHED_EXTENSION_ID=

ID4PII_INSTALLER_URL=https://github.com/TBLgGamin/id4pii/releases/latest/download/id4pii-setup.exe

ID4PII_APP_VERSION=0.1.0

ID4PII_INSTALLER_SIGNTOOL=

ID4PII_INSTALLER_SIGN_UNINSTALLER=no

ID4PII_GITHUB_REPO=TBLgGamin/id4pii
